<!DOCTYPE>
<html>
	<head>
		<title>Cuentas</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	</head>
	<body style="background-color:#F5B041;">
		<div style="text-align:center;">    <!--el div es para formar bloques-->
			<form>				<!--Inicio Cliente-->
				<h1 style="background-color:white;"> CLIENTE</h1>
				<pre><h3>Ingrese datos:			     </h3></pre>
				<label><b><pre>Nombre:      	  <input type="text" name="textNombreCliente"> </pre></b></label>   <!--PRE me respeta los espacion en blanco-->
				<label><b><pre>Dni:         	  <input type="text" name="textDniCliente" onkeypress='return event.charCode >= 46 && event.charCode <= 57'> </pre></b></label>
				<label><input type="radio" name="cuentaCliente" value="cuentaCorrienteCliente"  checked="checked" />Cuenta Corriente   <label>
				<label><input type="radio" name="cuentaCliente" value="cuentaSueldoCliente"/>Cuenta Sueldo   </label>
				<label><b><pre>Numero de Cuenta: <input type="text" name="textNroCuenta" onkeypress='return event.charCode >= 48 && event.charCode <= 57'> </pre></b></label>
				<br>
				<pre>   <input type="reset" value="Cancelar">		<input type="button" name="cargaCliente" value="Aceptar"></b></pre>
			</form> 				<!--Fin Cliente-->
				<hr  width="25%" size="5" />
			<form>				<!--Inicio Cuenta-->
				<div ng-app="" ng-controller="controladorCuenta">	
					<h1 style="background-color:white;"> CUENTA</h1>
					<pre><h3>Ingrese datos:			     </h3></pre>
					<label><b><pre>Nombre:      	  <input type="text" name="textNombreCuenta"> </pre></b></label>   <!--PRE me respeta los espacion en blanco-->
					<label><b><pre>Dni:         	  <input type="text" name="textDniCuenta" onkeypress='return event.charCode >= 48 && event.charCode <= 57'> </pre></b></label>
					<label><input type="radio" name="cuenta" value="cuentaCorrienteCuenta" checked="checked" ng-click="ocultarRadioCCorriente()" />Cuenta Corriente</label>
					<label><input type="radio" name="cuenta" value="cuentaSueldoCuenta" ng-click="ocultarRadioCSueldo()" />Cuenta Sueldo </label>
					<label><b><pre>Numero de Cuenta: <input type="text" name="textNroCuenta" onkeypress='return event.charCode >= 48 && event.charCode <= 57'> </pre></b></label>
					<label><b><pre>Saldo:		  <input type="text" name="textNroCuenta" onkeypress='return event.charCode >= 46 && event.charCode <= 57 && event.charCode!= 47'> </pre></b></label>
					<label ng-hide="ocultar" ><b><pre>Empleador	  <input TYPE="text" name "nombreEmpleador"> </pre></b></label>
					<br>
					<pre>   <input type="reset" value="Cancelar">		<input type="button" name="cargaCuenta" value="Aceptar"></pre>
				</div>
			</form>		<!--Fin Cuenta-->
			<script>
			function controladorCuenta($scope){
			$scope.ocultar=true;	
			$scope.ocultarRadioCCorriente=function(){
			$scope.ocultar=true;	
			}
			$scope.ocultarRadioCSueldo=function(){
			$scope.ocultar=false;	
			}
	
			}
			</script>
		</div>
	</body>
</html>