<!DOCTYPE>
<html ng-app="app"> 
	<head>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
			<script src="script.js"></script>
	</head>
	 
	<body style="background-color:#F5B041;">
		<div style="text-align:center;" ng-controller="controladorIngresoUsuario">    <!--el div es para formar bloques-->
			<form>				<!--Inicio Cliente-->
				<h1 style="background-color:white;"> DETALLE CLIENTE</h1>
				<br><br>
				<b><pre>Ingrese Dni de Cliente:	<input type="text" ng-model="dniCliente" name="dniNameCliente" placeholder="36166103" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></pre></b>
				<pre><input type="reset" name="resetForm" value="Cancelar" ng-click="ocultaDetalle()" >		<input type="button" name="cargaCliente" value="Aceptar" onclick="mientrasButton(event)" ng-click="validaDni()" ></pre>
			</form>				<!--break---->
			<form>				
				<div ng-hide="ocultaFormDetalles">
					
					<hr  width="25%" size="5" />

					<h2>DESCRIPCION:</h2>	
					<b><pre>Nombre:		<input type="text" name="nombreClienteDetalle" value="Elias Garcia"></pre></b>
					<b><pre>Dni:		<input type="text" name="dniClienteDetalle" Value="36.166.103"></pre></b>
					
					<div ng-controller="TablaCuentasControllerLocal">	
						
						<button ng-click="toggleTablaCCorriente()"><span ng-bind="textoButtonCCorriente"></span></button> 
						<button ng-click="toggleTablaCSueldo()"><span ng-bind="textoButtonCSueldo"></span></button>	
						
						<br>
						<br>
						
						<div ng-hide="ocultarTablaCCorriente" ng-controller="TablaCCorrienteController">
							<table border="1" style="margin: 0 auto;"  bgcolor="#D5DBDB" >
								<tr>
									<th scope="col">Numero Cuenta Corriente</th>
									<th scope="col">Saldo<pre>		 </pre></th>
								</tr>
								 
								<tr ng:repeat="cuentaCorriente in cuentasCorrientes">
									<td>{{cuentaCorriente.nroCuentaCorriente}}</td>
									<td>{{cuentaCorriente.saldo}}</td>
								</tr>
							</table>		
						</div>
					
						<br>
					
						<div ng-hide="ocultarTablaCSueldo" ng-controller="TablaCSueldoController" >
							<table  border="1" style="margin: 0 auto;"  bgcolor="#D5DBDB" >
								<tr>
									<th scope="col">Numero Cuenta Sueldo</th>
									<th scope="col">Empleador</th>
									<th scope="col">Saldo</th>
								</tr>
								 
								<tr ng:repeat="cuentaSueldo in cuentasSueldos">
									<td>{{cuentaSueldo.nroCuentaSueldo}}</td>
									<td>{{cuentaSueldo.empleador}}</td>
									<td>{{cuentaSueldo.saldo}}</td>
								</tr>
							</table>
						</div>
					</div>
					<pre><input type="reset" name="deleteForm" value="Cerrar" ng-click="ocultaDetalle()" >	
				</div>
			</form>
		</div>	
			<!--practica de javascript-->
			
		<script type="text/JavaScript">
			 function mientrasButton(event) {								 
			 alert("Datos enviados!");  // aca si puedo comentar con barra barra	
			 }
		</script>
		<script>
			function controladorIngresoUsuario($scope){
				$scope.ocultaFormDetalles=true;
				$scope.ocultaDetalle=function(){
				$scope.ocultaFormDetalles=true;
				}
				$scope.validaDni=function(){
					$scope.ocultaFormDetalles=!$scope.ocultaFormDetalles;
				}
			}
		</script>
		<script>
			function TablaCuentasControllerLocal($scope){
				$scope.ocultarTablaCSueldo=true;
				$scope.ocultarTablaCCorriente=true;	
				$scope.textoButtonCCorriente="Mostrar Cuentas Corriente";
				$scope.textoButtonCSueldo="Mostrar Cuentas Sueldo"
				$scope.toggleTablaCSueldo=function(){
					$scope.ocultarTablaCSueldo=!$scope.ocultarTablaCSueldo;
					if($scope.ocultarTablaCSueldo){
						$scope.textoButtonCSueldo="Mostrar Cuentas Sueldo";
					}
					else{
						$scope.textoButtonCSueldo="Ocultar Cuentas Sueldo";
					}
				}
				$scope.toggleTablaCCorriente=function(){
					$scope.ocultarTablaCCorriente=!$scope.ocultarTablaCCorriente;
					if($scope.ocultarTablaCCorriente){
						$scope.textoButtonCCorriente="Mostrar Cuentas Corriente";
					}
					else{
						$scope.textoButtonCCorriente="Ocultar Cuentas Corriente";
					}				
				}
			}
			
		</script>
	</body>
 
</html>